.title{
    position: absolute;
    width: 161px;
    height: 48px;
    left: 183px;
    top: 6px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.write{
position: absolute;
width: 55px;
height: 21px;
left: 370px;
top: 101px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.bodyTitle{
position: absolute;
width: 194px;
height: 26px;
left: 91px;
top: 194px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #000000;
}

.board{
position: absolute;
width: 350px;
height: 359px;
left: 75px;
top: 146px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
border-radius: 10px;
}

.topRec{
position: static;
width: 501px;
height: 60px;
left: 0px;
top: 0px;

background: #045D8B;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menuRec{
position: absolute;
width: 178px;
height: 564px;
left: -1px;
top: 60px;

visibility: hidden;

background: #CFDAFF;
}

.icon{
position: absolute;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px 3px;

width: 24px;
height: 24px;
left: 15px;
top: 18px;

color: #FFFFFF;
}

.free{
    position: absolute;
    width: 127px;
    height: 274px;
    left: 23px;
    top: 130px;

    visibility: hidden;

    color: #000;
}

.secret{
    position: absolute;
    width: 127px;
    height: 274px;
    left: 23px;
    top: 170px;

    visibility: hidden;

    color: #000;
}

.imformation{
    position: absolute;
    width: 127px;
    height: 274px;
    left: 23px;
    top: 210px;

    visibility: hidden;

    color: #000;
}

.pr{
    position: absolute;
    width: 127px;
    height: 274px;
    left: 23px;
    top: 250px;

    visibility: hidden;

    color: #000;
}

.sw{
    position: absolute;
    width: 127px;
    height: 274px;
    left: 23px;
    top: 290px;

    visibility: hidden;

    color: #000;
}

.logIn{
position: absolute;
width: 45px;
height: 21px;
left: 448px;
top: 20px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.idInput{
    position: absolute;
    width: 331px;
    height: 83px;
    left: 87px;
    top: 152px;
    
    background: #FFFFFF;
    border: 1px solid #045D8B;
    box-sizing: border-box;

color: #000000;
}