
#Rectangle1{
position: absolute;
width: 501px;
height: 60px;
left: 0px;
top: 0px;

background: #045D8B;
text-align: center;
}

#Ajou{
    position: absolute;
    width: 161px;
    height: 48px;
    left: 183px;
    top: 6px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

#Login{
    position: absolute;
    width: 45px;
    height: 21px;
    left: 448px;
    top: 20px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
}

#board{
    position: absolute;
    width: 86px;
    height: 29px;
    left: 75px;
    top: 101px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

#enroll{
    position: absolute;
    width: 55px;
    height: 21px;
    left: 370px;
    top: 101px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

#Rectangle4{
    position: absolute;
    width: 350px;
    height: 359px;
    left: 75px;
    top: 146px;

    background: #FFFFFF;
    border: 1px solid #045D8B;
    box-sizing: border-box;
    border-radius: 10px;
}

#Rectangle14{
    position: absolute;
    width: 55px;
    height: 21px;
    left: 370px;
    top: 101px;

    background: #FFFFFF;
    border: 1px solid #045D8B;
    box-sizing: border-box;
}

#line1{
    
    position: absolute;
    width: 350px;
    height: 0px;
    left: 75px;
    top: 205px;
    
    border: 1px solid #045D8B;

}

#line2{position: absolute;
    width: 350px;
    height: 0px;
    left: 75px;
    top: 265px;
    
    border: 1px solid #045D8B;
    
}

#line3{
    position: absolute;
width: 350px;
height: 0px;
left: 75px;
top: 325px;

border: 1px solid #045D8B;
}

#line4{
    position: absolute;
width: 350px;
height: 0px;
left: 75px;
top: 385px;

border: 1px solid #045D8B;
}

#line5 {position: absolute;
width: 350px;
height: 0px;
left: 75px;
top: 445px;

border: 1px solid #045D8B;
}

#Rectangle5{
    position: absolute;
width: 21px;
height: 20px;
left: 70px;
top: 533px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
}

#Rectangle6{
    position: absolute;
    width: 21px;
    height: 20px;
    left: 113px;
    top: 533px;
    
    background: #FFFFFF;
    border: 1px solid #045D8B;
    box-sizing: border-box;
}

#Rectangle7{
    position: absolute;
width: 21px;
height: 20px;
left: 152px;
top: 533px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
}

#Rectangle8{
    position: absolute;
width: 21px;
height: 20px;
left: 195px;
top: 533px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
}

#Rectangle9{
    position: absolute;
width: 21px;
height: 20px;
left: 238px;
top: 533px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
}

#Rectangle10{
    position: absolute;
width: 21px;
height: 20px;
left: 281px;
top: 533px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
}

#Rectangle11{
    position: absolute;
width: 21px;
height: 20px;
left: 324px;
top: 533px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
}

#Rectangle12{
    position: absolute;
width: 21px;
height: 20px;
left: 367px;
top: 531px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
}

#Rectangle13{
    position: absolute;
width: 21px;
height: 20px;
left: 410px;
top: 531px;

background: #FFFFFF;
border: 1px solid #045D8B;
box-sizing: border-box;
}

.icon{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 3px;
    
    position: absolute;
    width: 24px;
    height: 24px;
    left: 17px;
    top: 18px;
}

#top{
    position: static;
left: 12.5%;
right: 12.5%;
top: 25%;
bottom: 75%;

border: 2px solid #FFFFFF;
}

.vector{
flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

#middle{
    position: static;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 50%;

border: 2px solid #FFFFFF;

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
}

#bottom{
    position: static;
left: 12.5%;
right: 12.5%;
top: 75%;
bottom: 25%;

border: 2px solid #FFFFFF;

flex: none;
order: 2;
flex-grow: 0;
margin: 6px 0px;
}